@tailwind base;
@tailwind components;
@tailwind utilities;

.fundo {
  margin: 0px;
  background-size: 20px 20px;
  background-color: rgb(34, 162, 182);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.btn {
  background: linear-gradient(
    92.23deg,
    #6d54a8 21.43%,
    rgb(62, 29, 116)50.63%,
    #373272dc 100%,
    #402b77 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 255, 255, 0.904);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #402b77 21.43%,
    #373272dc 50.63%,
    rgb(62, 29, 116) 100%,
    #6d54a8 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #6d54a8 21.43%,
    rgb(62, 29, 116)50.63%,
    #373272dc 100%,
    #402b77 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#402b77] to-[#6d54a8] font-bold font-primary hover:from-[#6d54a8] hover:to-[#402b77];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}